

<div class="container top30">
  <div class="row">
      <div class="col-md-3">
        <label for="termino">Buscar artist</label>
        <input type="text"
              placeholder="Busque por atirsta..."
              class="form-control"
              (keyup)="buscarArtista()"
              [(ngModel)]="termino">
      </div>

      <div class="col-md-9" *ngIf="termino.length > minLength">

        <h1 class="text-capitalize" >{{ termino }}</h1>
        <hr>

        <div class="row">

          <div *ngFor="let artista of this._spotify.artistas"
                class="col-md-3 text-center puntero">

                <img [src]="artista.images | sinfoto"
                    class="img-thumbnail">

          </div>

        </div>

      </div>

  </div>

</div>
